body {
    background-color: black;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

.forecast {
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    gap: 2rem;
    max-width: 100vw;
    overflow-x: auto;
    padding: 1rem;
}

.forecast-day {
    padding: 1rem;
    border-radius: .5rem;
    background-color: rgb(0, 27, 27);
}

.forecast-hour {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
}

    .forecast-hour .air-temperature, .forecast-hour .wind-speed {
        min-width: 3rem;
        text-align: right;
    }

    .forecast-hour .wind-direction {
        width: 2rem;
        height: 2rem;
    }

.forecast-day img {
    max-height: 3rem;
}

.forecast-day h1 {
    margin-top: 0;
}